<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - online_ucebnice</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 999;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 20px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        ul.nova_ucebnice {
            position: absolute;
            left: 0;
            bottom: 0;
        }

        a:hover {
            color: #f1f1f1;
        }

        #right {
            background: #333333;
            margin-top: 0px;
            margin-right: 0px;
            position: absolute;
            color: #818181;
            top: 0;
            right: 0;
        }
    </style>
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="nav-link navbar-dark" asp-area="" asp-controller="Home" asp-action="Uprava" asp-route-ucebnice="@ViewBag.Ucebnice" asp-route-kapitola="@ViewBag.Kapitola"> Úprava </a>

        <ul>
            @foreach (string podkapitoly in ViewBag.PodKapitoly)
            {

                <li><a class="nav-link navbar-dark" asp-area="" asp-controller="Home" asp-action="Markdown" asp-route-ucebnice="@ViewBag.Ucebnice" asp-route-kapitola="@ViewBag.Kapitola" asp-route-podkapitola="@podkapitoly"> @podkapitoly</a></li>
            }
        </ul>

        <ul class="nova_ucebnice list-group">
            <li>
                <a class="nav-link navbar-dark" asp-area="" asp-controller="Home" asp-action="NovaPodKapitola" asp-route-Ucebnice="@ViewBag.Ucebnice" asp-route-kapitola="@ViewBag.Kapitola"> Nová kapitola</a>

            </li>
        </ul>
    </div>


    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

    <a id="right" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><i class='fas fa-angle-up' style='font-size:24px'></i> </a>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container, text-center">
            &copy; 2021 - online_ucebnice - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
