@{
    ViewData["Title"] = "UpravaUcebnice";
}

<!DOCTYPE html>
<html>
<head>
    <!-- Include the required files -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</head>
<body>
    @if (ViewBag.Validace == "Učebnice nebyla přejmenována, protože tento název učebnice již existuje.")
    {
        <div style="color:red"><b>@ViewBag.Validace</b></div>
        <div>&nbsp;</div>

    }
    else
    {
        <div style="color:green"><b>@ViewBag.Validace</b></div>
        <div>&nbsp;</div>

    }
    <div id="main">

        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="UpravaUcebnicePost" asp-route-Ucebnice="@ViewBag.Ucebnice" asp-route-kapitola="@ViewBag.Kapitola" asp-route-podkapitola="@ViewBag.PodKapitola">
            Kapitola: <input type="text" name="zmena_nazvu" value="@ViewBag.podKapitola.Remove(ViewBag.podKapitola.Length - 3)">.md
            <div>&nbsp</div>
            <textarea id="file-input" name="text">@ViewBag.FileText</textarea>
            <input class="btn btn-success" type="submit" value="Uložit" />


            <a asp-controller="Home" asp-action="SmazatPodKapitolu" asp-route-Ucebnice="@ViewBag.Ucebnice" asp-route-kapitola="@ViewBag.Kapitola" asp-route-podkapitola="@ViewBag.PodKapitola">
                <input type="button" class="btn btn-danger" value="Smazat" />
            </a>
        </form>

        <br />
        <a asp-area="" asp-controller="home" asp-action="ZobrazeniUcebnice" asp-route-Ucebnice="@ViewBag.Ucebnice" asp-route-kapitola="@ViewBag.Kapitola" asp-route-podkapitola="@ViewBag.PodKapitola">
            <input type="button" class="btn btn-primary" value="Zobrazit jako uživatel" />
        </a>

    </div>
    <script>
        var simplemde = new SimpleMDE({
            element: document.getElementById("file-input"),
            spellChecker: false
        });
    </script>

</body>
</html>
